<!-- <mat-nav-list>
  <h3 mat-subheader>{{ product.name }}</h3>
  <mat-list-item>
    <div class="row">
      <div class="col-md-4">
        <img [src]="product.imageUrl" class="card-img" alt="{{ product.name }}">
      </div>
      <div class="col-md-8">
        <p>{{ product.description }}</p>
        <p><strong>Price: ₹{{ product.price }}</strong></p>
        <div class="rating">
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star_border</span>
          <span class="rating-text">4.0 (230 Reviews)</span>
        </div>
        <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </mat-list-item>
</mat-nav-list> -->

<div class="mat-bottom-sheet-container">
  <div class="row">
    <div class="col-md-6" *ngFor="let product of products">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="product.imageUrl" class="card-img" alt="{{ product.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text"><strong>Price: ₹{{ product.price }}</strong></p>
              <button class="btn btn-primary" (click)="productDetails(product)">View Product</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
