<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 20px;">
      <div class="row w-100">
        <div class="col-md-3 logo">
          <a class="navbar-brand" routerLink="/home" style="font-family: Dancing Script, cursive; color: #1F3E97;">Firewheels</a>
        </div>
        <div class="col-md-7 nav justify-content-center  text-align-center">
          <button mat-button routerLink="/home"><mat-icon>home</mat-icon> Home</button>
          <button mat-button routerLink="/product-list"><mat-icon>inventory</mat-icon> Products</button>
          <button mat-button routerLink="/about"><mat-icon>person</mat-icon> Men's Fashion</button>
          <button mat-button routerLink="/about"><mat-icon>person-dress</mat-icon> Women's Fashion</button>
          <button mat-button routerLink="/about"><mat-icon>toys</mat-icon> kid's Fashion</button>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-3 sign-in">
              <a href="#" class="text-white action-link" routerLink="/register">
                <mat-icon>login</mat-icon>
              </a>
            </div>
            <div class="col-md-3 orders">
              <a href="#" class="text-white action-link" routerLink="/product-list">
                <mat-icon>shopping_bag</mat-icon>
              </a>
            </div>
            <div class="col-md-3 cart">
              <a href="#" class="text-white action-link" routerLink="/cart">
                <mat-icon>shopping_cart</mat-icon>
              </a>
            </div>
            <div class="col-md-3">
              <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            </div>
          </div>
        </div>
    </div>
</nav>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="side" position="end">
  <mat-nav-list>
      <mat-list-item>
          <button routerLink="/dash" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/home" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/slider" mat-button><mat-icon>explore</mat-icon> Slider</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/table" mat-button><mat-icon>table</mat-icon> Table</button>
      </mat-list-item>
      <mat-list-item>
          <button mat-button><mat-icon>settings</mat-icon> Settings</button>
      </mat-list-item>
      <mat-list-item>
          <button mat-button><mat-icon>help</mat-icon> Help</button>
      </mat-list-item>
      <mat-list-item>
          <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
      </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div style="text-align: center;min-height: 400px;">

          <router-outlet></router-outlet>
          </div>
  </mat-drawer-content>
</mat-drawer-container>