<div class="container">
  <!-- Filter section -->
  <div class="row mb-3">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label for="searchInput">Search by Name</mat-label>
        <input matInput id="searchInput" name="searchInput" placeholder="Search by Name" [(ngModel)]="filterOptions.searchName" (input)="applyFilters()">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label for="productSelect">Product Name</mat-label>
        <mat-select id="productSelect" [(value)]="filterOptions.selectedProduct" (selectionChange)="applyFilters()">
          <!-- <mat-option value="">All</mat-option> -->
          <mat-option *ngFor="let product of products" [value]="product.name">{{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>    
    <!-- <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label for="productDescription">Product Description</mat-label>
        <mat-select id="productDescription" [(value)]="filterOptions.selectedDescription" (selectionChange)="applyFilters()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let description of productDescriptions" [value]="description">{{ description }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <!-- <div class="col-md-3">
      <mat-slider thumbLabel tickInterval="100" min="0" [max]="maxPrice" [(ngModel)]="filterOptions.priceRange" (input)="applyFilters()"></mat-slider>
    </div> -->
  </div>
  <!-- Product cards -->
  <div class="row">
    <div class="col-md-6" *ngFor="let product of filteredProducts">
      <!-- Product card HTML here -->
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="product.imageUrl" class="card-img" alt="{{ product.name }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-title"><strong>{{ product.name }}</strong></p>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text">Price: ₹{{ product.price }}</p>
                  <button class="btn btn-primary" (click)="productDetails(product)">View Product</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
